{% extends 'base.html' %}

{% block content %}

<main>
         <h1 class="display-1 text-center">Nosotros</h1>
         <hr>
         <br>
         <br>
         <div>
                <dir>
                <p><strong><em><u>Luciano Bolisio</u></em></strong></p>
                30 años. Estudiante el primer año de la carrera Analista en sistemas<p>en la Universidad Davinci.</p>
                <hr size="5px" width="50%" align="center" color="black"/>
                </dir>
        </div>
        <br>
        <div>
                <dir>
                <blockquote><p><strong><em><u>Luciano Bauso</u></em></strong></p>
                19 años. Estudiante de segundo año de la carrera ingeniería en sistemas en la Universidad Tecnológica Nacional,<p>graduado con honores de la escuela técnica ORT.</p>
                <hr size="5px" width="50%" align="center" color="black"/>
                </dir>
        </div>
        <br>
        <div>
                <dir>
                <p><strong><em><u>Luciana Amaya</u></em></strong></p>
                19 años. Estudiante de primer año de la carrera Ingenieria Informatica en la Uniersidad Argentina de la Empresa, <p>graduada en la escuela Instituto Madre de los Emigrantes.</p>
                </dir>
        </div>
</main>

{% endblock %}